@import './vars.css';

.title {
    font-size: var(--h2-font-size);
}

.title,
.location {
    font-weight: 500;
    color: var(--primary-color);
}

.location {
    margin: 10px 0;
}

.tags {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.informations {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;
}

.dropdowns>* {
    flex: 1;
}

.titleAndTag,
.nameAndRate {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.nameAndRate {
    align-items: center;
}

@media screen and (max-width: 768px) {

    .dropdowns {
        gap: 1rem;
    }

    .informations {
        flex-direction: column;
    }

    .nameAndRate {
        flex-direction: row-reverse;
    }
}