@import './vars.css';

.title {
    font-size: var(--h2-font-size);
}

.title,
.location {
    font-weight: 500;
    color: var(--primary-color);
}

.location {
    margin: 10px 0;
}

.tags {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
}

.dropdowns>* {
    flex: 1;
}

.flexDivs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}