.carousel {
    margin: 20px 0;
}

.container {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: auto;
    border-radius: 25px;
}

.container img {
    height: 415px;
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
    transition: margin 250ms ease;
}

.firstImage {
    margin-left: 0;
}

.arrows {
    position: absolute;
    text-indent: -10000px;
    width: 48px;
    height: 435px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.leftArrow {
    left: 12%;
    background: url(../assets/left-arrow.png) center center / 46px 79px no-repeat;
}

.rightArrow {
    right: 12%;
    background: url(../assets/right-arrow.png) center center / 46px 79px no-repeat;
}

.pagination {
    position: relative;
    left: 50%;
    top: 400px;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}