@import './vars.css';


.dropdown {
    max-width: 1023px;
    margin: 2em auto;
}

.header {
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.chevron {
    width: 20px;
    transform: rotate(180deg);
    transition: transform 250ms ease-in;
}

.chevron.chevronOpen {
    transform: rotate(0deg);
}

.dropdown button {
    border: none;
    display: flex;
    width: 100%;
}

.textContent {
    color: var(--primary-color);
    padding: 15px 10px;
    transition: all 200ms ease-in;
    transform-origin: top;
    position: relative;
    top: -5px;
    z-index: -1;
    background-color: #F6F6F6;
}

.textContent[animationOpen] {
    animation: dropdownOpen 250ms;
}

.textContent[animationClose] {
    animation: dropdownClose 250ms;
}

.close {
    max-height: 0;
    transform: scaleY(0);
}

li {
    color: var(--primary-color);
    transform-origin: top;
}

@keyframes dropdownOpen {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
    }
}

@keyframes dropdownClose {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}