@import url('../styles/vars.css');

.errorPage {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.message,
.homelink {
    color: var(--primary-color);
    font-weight: 500;
}

.title {
    font-weight: 700;
    font-size: 288px;
    margin-top: 20%;
    color: var(--primary-color);
}

.errorPage p:last-of-type {
    font-size: 36px;
    margin-top: 5%;
}

.homelink {
    display: block;
    margin-top: 15%;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 5.5rem;
    }
}