@import './vars.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
    width: var(--content-width);
    margin: 1em auto;
}

.header span {
    font-size: var(--h1-font-size);
}

.header a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
}

.header a:visited {
    color: var(--primary-color);
}

.header a.currentPageLink {
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    .header {
        width: 100%;
    }

    .header svg {
        height: 47px;
    }

    .header a {
        font-size: 0.6rem;
    }
}