@import './vars.css';

main {
    width: var(--content-width);
    margin: auto;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    main {
        width: 95%;
    }

    .thumbs {
        justify-content: center;
    }
}