@import './vars.css';

main {
    width: var(--content-width);
    margin: 0 auto;
    flex-grow: 2;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F6F6F6;
    padding: 3%;
    border-radius: 25px;
}

@media screen and (max-width: 900px) {
    main {
        width: 95%;
    }

    .thumbs {
        justify-content: center;
    }
}